/*
 * 这是商品详情页
 */

.goods_detail_con{
    width: 1198px;
    height: 398px;
    border: 1px solid #ededed;
    margin: 0 auto 20px;
}

.goods_detail_img{
    width: 350px;
    height: 350px;
    margin: 24px 0 0 24px;
    border: 1px solid red;
}
.goods_detail_img img{
    border: 1px solid red;
    margin: 78px;
}

/*价格*/
.goods_detail_list{
    width: 730px;
    height: 350px;
    margin: 24px 24px 0 0;
}
.goods_detail_list h3{
    font-size: 24px;
    line-height: 24px;
    color: #666;
    font-weight: normal;
}

.goods_detail_list p{
    color: #666;
    line-height: 40px;
}

.prize_bar{
    height: 72px;
    background-color: #fff5f5;
    line-height: 72px;
}

.prize_bar .show_price{
    font-size: 20px;
    color: #ff3e3e;
    padding-left: 20px;
}

.prize_bar .show_price em{
    font-style: normal;
    font-size: 36px;
    padding-left: 10px;
}

.prize_bar .show_unit{
    padding-left: 150px;
}

/**
 * 这是立即购买和加入购物车的样式
 */
.goods_num{
    height: 52px;
    margin-top: 19px;
}

.goods_num .num_name{
    width: 70px;
    height: 52px;
    line-height: 52px;
}

.goods_num .num_add{
    width: 75px;
    height: 50px;
    border: 1px solid #dddddd;

}

.goods_num .num_add input{
    width: 49px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 0;
    outline: none;
    font-size: 14px;
    color: #666;
}

.goods_num .num_add .add{
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 14px;
}

.goods_num .num_add .minus{
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 0;
    color: #666;
    font-size: 14px;
}

.total{
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
}

.total em{
    font-style: normal;
    color: #ff3e3e;
    font-size: 18px;
}

.operate_btn{
    height: 40px;
    margin-top: 10px;
    font-size: 0;
    position: relative;
}

.operate_btn .buy_btn{
    display: inline-block;
    width: 178px;
    height: 38px;
    border: 1px solid #c40000;
    font-size: 14px;
    color: #c40000;
    line-height: 38px;
    text-align: center;
    background-color: #ffeded;
}

.operate_btn .add_cart{
    display: inline-block;
    width: 178px;
    height: 38px;
    border: 1px solid #c40000;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    text-align: center;
    background-color: #c40000;
    margin-left: 10px;
    position: relative;
    z-index: 10;
}